#body_home {
  background-image: url("src/img/light.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 106vh;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.home {
  overflow: visible;
}

/*.background-img {*/
/*  background-attachment: fixed;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  transform: translate3d(0,0,0);*/
/*  -webkit-transform: translate3d(0,0,0);*/
/*  -ms-transform: translate3d(0,0,0);*/
/*  -moz-transform: translate3d(0,0,0)*/
/*}*/

