<div id="header">
  <button class="menu" mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      (click)="openIm()"
      id="insta"
      mat-menu-item>
    </button>
    <button
      id="adduser"
      mat-menu-item>
    </button>
    <button
      (click)="openPrime()"
      id="creditCard"
      mat-menu-item>
    </button>
    <button mat-menu-item>
      <span class="material-icons-round" style="color: #788797; font-size: 35px">language</span>
    </button>
    <button
      id="telegram"
      (click)="telegram()"
      mat-menu-item>
    </button>
    <button
      mat-menu-item
      id="logout"
      (click)="logout()">
    </button>
  </mat-menu>
</div>
