*{
  overflow: hidden;
}

.flex_ios {
  display: flex;
  justify-content: center;
  height: 80%;
}

.title {
  width: 100%;
  text-align: center;
  font-family: "Montserrat SemiBold";
  color: #2E2E2E;
  font-size: 18px;
  margin-top: 6%;
}
.container {
  height: 33.3%;
  scroll-snap-align: start;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_ios {
  width: 50vw;
  height: 100px;
  text-align: center;
  font-family: "Montserrat Medium";
  font-size: 35px;
  color: #525252;
  background: none;
  border: none;
}

.ios_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.increase,
.decrease{
  height: 90px;
  width: 30vw;

}

.arrow {
  font-size: 60px;
  color: #525252;
}

.scrollbar_hours {
  -webkit-overflow-scrolling:touch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 9.4rem;
  height: 22rem;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.scrollbar_temperature {
  -webkit-overflow-scrolling:touch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 9.4rem;
  height: 22rem;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}


.scrollbar_temperature:before,
.scrollbar_temperature:after,
.scrollbar_hours:before,
.scrollbar_hours:after,
.not_chose,
.not_chosed{
  font-family: "Roboto Regular";
  scroll-snap-align: start;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(63 81 181 / 50%);
  font-size: 35px;
  font-weight: normal;
}

.padding {
  margin-top: 30px;
}

.chosed_hour {
  font-size: 40px!important;
  font-weight: bold!important;
  color: rgba(63 81 181 / 90%)!important;
}

.chosed_temperature {
  font-size: 40px!important;
  font-weight: bold!important;
  color: rgba(63 81 181 / 90%)!important;
}

hr {
  position: sticky;
  width: 100%;
  color: #525252;
  border-color: rgba(63 81 181 / 50%)!important;
}
.hr_top{
  bottom: 33.3%;
}
.hr_bot{
  bottom: 66.6%;
}

.note {
  position: sticky;
  overflow: visible;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Roboto Regular";
  font-weight: bold;
  font-size: 18px;
  color: rgba(82 82 82 / 50%);
}
