<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">
<input style="display: none" id="day" [value]="dayNumber">
<input style="display: none" id="id" [value]="id">


<button
  class="back button_common"
  [ngClass]="{'padding':isSafari||browser}"
  mat-ripple
  [matRippleUnbounded]="false"
  [matRippleRadius]="65"
  [mat-dialog-close]="data">
  <mat-icon>
    <i class="material-icons-round" style="color: #004070">arrow_back_ios</i>
  </mat-icon>
  Назад
</button>

<div class="title">{{dayOfWeek}}</div>

<section class="weekly_graph">
  <div class="flex" *ngFor="let hour of hoursOnInit">
    <div class="temperature_value">{{temperature[hour]}}</div>
    <div class="stick"
         [ngStyle]="{'height.%': setTemperature(hour), 'background': '#' + setColor(hour)}"></div>
    <!--         [ngStyle]="{'height.%': setTemperature(hour), 'background-image': 'linear-gradient(#' + setColor(hour) + ', #' + setColor(hour) + '), linear-gradient(0deg, #CCCCCC, #' + setColor(hour) + ' 75%)'}"></div>-->
  </div>
  <div class="min40"></div>
</section>
<div class="graph_hours">
  <div class="hour_value" *ngFor="let hour of graphHours"> {{hour}}</div>
  <div class="hour_value" style="margin-left: -3vw">23:00</div>
</div>

<div *ngIf="!isSafari && !isIOS"
     style="display: flex; height: 45vh;     justify-content: center;    align-items: center;">
  <div>
    <div class="scrollbar_hours">
      <div class="not_chose"></div>
      <div class="not_chose" [id]="hour" *ngFor="let hour of hoursOnInit">{{hour}} : 00</div>
      <div class="not_chose" style="flex-basis: 16.65%"></div>
      <hr class="hr hr_top" noshade>
      <hr class="hr hr_bot" noshade>
      <div class="note">Время</div>
    </div>
  </div>
  <div>
    <div class="scrollbar_temperature">
      <div class="not_chosed"></div>
      <div class="not_chosed" [id]="temperature"
           *ngFor="let temperature of choseTemperature">{{temperature}}</div>
      <div class="not_chose" style="flex-basis: 16.65%"></div>
      <hr class="hr hr_top" noshade>
      <hr class="hr hr_bot" noshade>
      <div class="note">Температура</div>
    </div>
  </div>
</div>

<div *ngIf="isIOS" class="flex_ios">
  <div style="display: flex; flex-direction: row; align-items: center; width: 100vw">
    <section class="ios_section">
      <button class="increase button_common" matRipple (click)="changeHour('increase')">
        <span class="material-icons-round arrow">expand_less</span>
      </button>
      <input (keyup)="changeHour('check')" onclick="this.select()" type="tel" class="input_ios" [(ngModel)]="hourIOS">
      <button class="decrease button_common" matRipple (click)="changeHour('decrease')">
        <span class="material-icons-round arrow">expand_more</span>
      </button>
      <div class="note">
        Время
      </div>
    </section>
    <section class="ios_section">
      <button class="increase button_common" matRipple (click)="changeTemperature('increase')">
        <span class="material-icons-round arrow">expand_less</span>
      </button>
      <div class="wrapper">
        <input onclick="this.select()" type="tel" class="input_ios" [(ngModel)]="temperatureIOS"
               (keyup)="changeTemperature('check')">
      </div>
      <button class="decrease button_common" matRipple (click)="changeTemperature('decrease')">
        <span class="material-icons-round arrow">expand_more</span>
      </button>
      <div class="note">
        Температура
      </div>
    </section>
  </div>
</div>




