::ng-deep.cdk-overlay-dark-backdrop {
  background: none;
}

::ng-deep.mat-horizontal-content-container {
  padding: 0!important;
}

::ng-deep.mat-horizontal-stepper-header {
  display: none !important;
}

::ng-deep.mat-stepper-horizontal-line {
  display: none !important;
}

mat-stepper {
  background: none;
  height: 80vh;
}

mat-step {
  height: 80vh !important;
  width: 80vw !important;
}

.downloads {
  display: flex;
  align-items: center;
}

.one-step {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

mat-dialog-actions {
  padding: 0px;
  min-height: 0px;
}

.input_small {
  width: 30px;
  height: 20px;
  background: rgba(255, 255, 255, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto Regular";
  font-size: 18px;
  text-align: center;
}

.navigate-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.mat-icon {
  height: auto;
  width: auto;
}

.settings_label {
  font-family: "Montserrat SemiBold";
  font-size: 14px;
}

/*.extreme_values {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/
/*.extreme_value {*/
/*  font-family: "Roboto Regular";*/
/*  opacity: 20%;*/
/*  color: #000000;*/
/*}*/

.ngx-slider {
  min-width: 310px;
}


.back {
  width: 77px;
  display: flex;
  align-items: center;
}

.button_priority{
  height: 140px;
  width: 250px;
  border-radius: 25px!important;
  margin-bottom: 30px;
}

.configs{
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
