::ng-deep.cdk-overlay-dark-backdrop {
  background: none;
}

::ng-deep.mat-horizontal-content-container {
  padding: 0!important;
}

::ng-deep.mat-horizontal-stepper-header {
  display: none !important;
}

::ng-deep.mat-stepper-horizontal-line {
  display: none !important;
}

::ng-deep.mat-dialog-container {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(100px);
  border-radius: 0;
}

mat-stepper {
  background: none!important;
  height: 80vh;
}

mat-step {
  height: 80vh !important;
  width: 80vw !important;
}

.downloads {
  display: flex;
  align-items: center;
}

.one-step {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: 290px;
  height: 50px;
  background: rgba(255, 255, 255, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Montserrat SemiBold";
  font-size: 18px;
  text-align: center;
  margin-top: 35px;
}

.navigate-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navigate-button {
  width: 142px;
  height: 40px;
  border-radius: 12px;
  font-family: "Montserrat SemiBold";
  font-size: 18px;
  color: #525252;
}

.stepper_tips {
  font-family: 'Segoe UI Bold';
  font-size: 18px;
  opacity: 75%;
  text-align: center;
}

.configs{
  height: 80%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
}


