::ng-deep.cdk-overlay-dark-backdrop {
  background: none !important;
}

::ng-deep.mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep.mat-horizontal-stepper-header {
  display: none !important;
}

::ng-deep.mat-stepper-horizontal-line {
  display: none !important;
}

::ng-deep.mat-dialog-container {
  background: rgba(255, 255, 255, 0.65) !important;
  backdrop-filter: blur(100px) !important;
  border-radius: 0 !important;
}

mat-stepper {
  background: none !important;
  height: 80vh;
}

mat-step {
  height: 80vh !important;
  width: 80vw !important;
}

.downloads {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI Bold';
  color: #004070;
  font-size: 18px;
  border-radius: 7px;
  height: 40px;
  width: 200px;
  justify-content: center;
  margin: 10px;
}

.one-step {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: 290px;
  height: 50px;
  background: rgba(255, 255, 255, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Montserrat SemiBold";
  font-size: 18px;
  text-align: center;
  margin-top: 35px;
  color: #525252;
}

.navigate-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navigate-button {
  width: 142px;
  height: 40px;
  border-radius: 12px;
  font-family: "Montserrat SemiBold";
  font-size: 18px;
  color: #525252;
}

.errors {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 250px;
  font-size: 14px;
  font-family: 'Montserrat Medium';
}

.finish-data {
  width: 90%;
  height: 380px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title_info {
  font-family: "Montserrat Medium";
  font-size: 18px;
  color: #525252;
  text-align: center;
}

.value_info {
  font-family: "Montserrat Bold";
  font-size: 18px;
  color: #525252;
  margin-top: 12px;
  text-align: center;
}

.stepper_tips {
  font-family: 'Segoe UI Bold';
  font-size: 18px;
  opacity: 75%;
  text-align: center;
}

.configs {
  height: 80%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
}

.youTube_logo {
margin-right: 5px;
}

a {
  text-decoration: none;
}
