/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Probert';
  src: url('fonts/Probert-Bold.woff2') format('woff2'),
  /*url('webfont.ttf')  format('truetype'),*/
  url('fonts/Probert-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2'),
  url('fonts/Roboto-Regular.ttf')  format('truetype'),
  url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
  url('fonts/Montserrat-Bold.ttf')  format('truetype'),
  url('fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
  url('fonts/Montserrat-Medium.ttf')  format('truetype'),
  url('fonts/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('fonts/Montserrat-SemiBold.ttf')  format('truetype'),
  url('fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.woff2') format('woff2'),
  url('fonts/Roboto-Bold.ttf')  format('truetype'),
  url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body, html {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}
app-root {
  min-width: 100%;
  min-height: 100vh;
}

app-home {
  min-width: 100%;
  display: flex;
  min-height: 100vh;
}

#body_main {
  background: url("src/img/dark.jpg") no-repeat fixed;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
