/* only english font*/

@font-face {
  font-family: 'Probert';
  src: url('fonts/Probert-Bold.woff2') format('woff2'),
    /*url('webfont.ttf')  format('truetype'),*/ url('fonts/Probert-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('fonts/SegoeUI-bold.woff2') format('woff2'),
  url('fonts/SegoeUI-bold.ttf') format('truetype'),
  url('fonts/SegoeUI-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.woff2') format('woff2'),
  url('fonts/Roboto-Regular.ttf') format('truetype'),
  url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
  url('fonts/Montserrat-Bold.ttf') format('truetype'),
  url('fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
  url('fonts/Montserrat-Medium.ttf') format('truetype'),
  url('fonts/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('fonts/Montserrat-SemiBold.ttf') format('truetype'),
  url('fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/Roboto-Bold.woff2') format('woff2'),
  url('fonts/Roboto-Bold.ttf') format('truetype'),
  url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

::-webkit-scrollbar { /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

html {
  height: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}



*, *::before, *::after {
  box-sizing: inherit;
}

body, html {
  width: 100%;
}

input {outline:none;}

body {
  margin: 0;
  overflow: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button_common {
  border: none;
  background: none;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.bottom_sheet {
  background: rgba(255, 255, 255, 0.4)!important;
  backdrop-filter: blur(4px);
}

.panel{
  background: rgba(255, 255, 255, 0.75);
}

.back {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  color: #525252;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mozilla_glass {

}

@media only screen and (max-device-width: 480px) {
  /*html {*/
  /*  height: calc(100% + 60px);*/
  /*  min-height: calc(100% + 60px);*/
  /*}*/
}


