<mat-expansion-panel
  [disabled]="!(!isOnline||(opened&&!isOnline)||(opened&&isOnline))"
  (opened)="open(true)"
  (closed)="open(false)"
  [hideToggle]="isOnline"
  class="device">
  <mat-expansion-panel-header
    class="deviceHeader">

    <div draggable="false" id="logoBioUniversal">
    </div>
    <mat-panel-description
      class="deviceName flex">
      <div class="_biouniversal_">Bio Universal</div>
      {{deviceName}}
    </mat-panel-description>
    <span *ngIf="isOnline" class="material-icons-round offline_icon">wifi_off</span>
  </mat-expansion-panel-header>
  <div class="flex">
    <div class="buttons">
      <button
        (click)="openDialog()"
        draggable="false"
        class="svg_button"
        id="openSettings">
        <div
          style="height: 50px; width: 50px; border-radius: 16px; position: absolute; margin-top: 2px;    margin-left: 2px;"
          matRipple
        ></div>
      </button>
      <button
        class="svg_button"
        (click)="changeDeviceState()"

        id="changeDeviceState"
      >
        <div style="height: 50px; width: 50px; border-radius: 16px; position: absolute; margin-top: 2px;    margin-left: 2px;"
             matRipple
        ></div>
        <!--        <mat-icon-->
        <!--          *ngIf="!isOn"-->
        <!--          class="svg_button_in">-->
        <!--          <svg *ngIf="!isSafari" width="51" height="50" viewBox="0 0 51 50" fill="none"-->
        <!--               xmlns="http://www.w3.org/2000/svg">-->
        <!--            <rect width="50" height="50" rx="16" fill="white" fill-opacity="0.6"/>-->
        <!--            <rect x="0.5" y="0.5" width="49" height="49" rx="15.5" stroke="#FF0000" stroke-opacity="0.7"/>-->
        <!--            <g filter="url(#filter0_d_1427:1899)">-->
        <!--              <path-->
        <!--                d="M26.8165 9.08165C26.8165 7.93199 25.8845 7 24.7349 7V7C23.5852 7 22.6532 7.93199 22.6532 9.08165V25.7349C22.6532 26.8845 23.5852 27.8165 24.7349 27.8165V27.8165C25.8845 27.8165 26.8165 26.8845 26.8165 25.7349V9.08165ZM38.2496 10.8132C37.508 10.043 36.2884 10.0996 35.5324 10.8557V10.8557C34.6689 11.7192 34.7578 13.1355 35.5774 14.0408C37.8956 16.6013 39.3064 20.0004 39.3064 23.7349C39.3064 31.7909 32.7909 38.3064 24.7349 38.3064C16.6789 38.3064 10.1633 31.7909 10.1633 23.7349C10.1633 19.9922 11.5804 16.5863 13.8961 14.0123C14.7065 13.1117 14.7897 11.708 13.933 10.8514V10.8514C13.1794 10.0978 11.9639 10.0413 11.2244 10.8088C7.98838 14.1671 6 18.7085 6 23.7349C6 34.0807 14.3891 42.4697 24.7349 42.4697C35.0807 42.4697 43.4697 34.0807 43.4697 23.7349C43.4697 18.7107 41.4831 14.1711 38.2496 10.8132Z"-->
        <!--                fill="#FC2929" fill-opacity="0.7"/>-->
        <!--              <path-->
        <!--                d="M26.8165 9.08165C26.8165 7.93199 25.8845 7 24.7349 7V7C23.5852 7 22.6532 7.93199 22.6532 9.08165V25.7349C22.6532 26.8845 23.5852 27.8165 24.7349 27.8165V27.8165C25.8845 27.8165 26.8165 26.8845 26.8165 25.7349V9.08165ZM38.2496 10.8132C37.508 10.043 36.2884 10.0996 35.5324 10.8557V10.8557C34.6689 11.7192 34.7578 13.1355 35.5774 14.0408C37.8956 16.6013 39.3064 20.0004 39.3064 23.7349C39.3064 31.7909 32.7909 38.3064 24.7349 38.3064C16.6789 38.3064 10.1633 31.7909 10.1633 23.7349C10.1633 19.9922 11.5804 16.5863 13.8961 14.0123C14.7065 13.1117 14.7897 11.708 13.933 10.8514V10.8514C13.1794 10.0978 11.9639 10.0413 11.2244 10.8088C7.98838 14.1671 6 18.7085 6 23.7349C6 34.0807 14.3891 42.4697 24.7349 42.4697C35.0807 42.4697 43.4697 34.0807 43.4697 23.7349C43.4697 18.7107 41.4831 14.1711 38.2496 10.8132Z"-->
        <!--                stroke="#FF0000" stroke-opacity="0.7"/>-->
        <!--            </g>-->
        <!--            <defs>-->
        <!--              <filter id="filter0_d_1427:1899" x="4.5" y="5.5" width="46.4697" height="44.4697"-->
        <!--                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">-->
        <!--                <feFlood flood-opacity="0" result="BackgroundImageFix"/>-->
        <!--                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"-->
        <!--                               result="hardAlpha"/>-->
        <!--                <feOffset dx="3" dy="3"/>-->
        <!--                <feGaussianBlur stdDeviation="2"/>-->
        <!--                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/>-->
        <!--                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1427:1899"/>-->
        <!--                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1427:1899" result="shape"/>-->
        <!--              </filter>-->
        <!--            </defs>-->
        <!--          </svg>-->
        <!--          <img draggable="false" *ngIf="isSafari" class="shadow" src="./img/bioUniversal/powerOff.png">-->
        <!--        </mat-icon>-->
        <!--        <mat-icon-->
        <!--          *ngIf="isOn"-->
        <!--          class="svg_button_in">-->
        <!--          <svg *ngIf="!isSafari" width="51" height="50" viewBox="0 0 51 50" fill="none"-->
        <!--               xmlns="http://www.w3.org/2000/svg">-->
        <!--            <rect width="50" height="50" rx="16" fill="white" fill-opacity="0.6"/>-->
        <!--            <rect x="0.5" y="0.5" width="49" height="49" rx="15.5" stroke="#2B7D2B" stroke-opacity="0.65"/>-->
        <!--            <g filter="url(#filter0_d_1708:1912)">-->
        <!--              <path-->
        <!--                d="M26.8165 9.08165C26.8165 7.93199 25.8845 7 24.7349 7V7C23.5852 7 22.6532 7.93199 22.6532 9.08165V25.7349C22.6532 26.8845 23.5852 27.8165 24.7349 27.8165V27.8165C25.8845 27.8165 26.8165 26.8845 26.8165 25.7349V9.08165ZM38.2496 10.8132C37.508 10.043 36.2884 10.0996 35.5324 10.8557V10.8557C34.6689 11.7192 34.7578 13.1355 35.5774 14.0408C37.8956 16.6013 39.3064 20.0004 39.3064 23.7349C39.3064 31.7909 32.7909 38.3064 24.7349 38.3064C16.6789 38.3064 10.1633 31.7909 10.1633 23.7349C10.1633 19.9922 11.5804 16.5863 13.8961 14.0123C14.7065 13.1117 14.7897 11.708 13.933 10.8514V10.8514C13.1794 10.0978 11.9639 10.0413 11.2244 10.8088C7.98838 14.1671 6 18.7085 6 23.7349C6 34.0807 14.3891 42.4697 24.7349 42.4697C35.0807 42.4697 43.4697 34.0807 43.4697 23.7349C43.4697 18.7107 41.4831 14.1711 38.2496 10.8132Z"-->
        <!--                fill="#2B7D2B" fill-opacity="0.7"/>-->
        <!--              <path-->
        <!--                d="M26.8165 9.08165C26.8165 7.93199 25.8845 7 24.7349 7V7C23.5852 7 22.6532 7.93199 22.6532 9.08165V25.7349C22.6532 26.8845 23.5852 27.8165 24.7349 27.8165V27.8165C25.8845 27.8165 26.8165 26.8845 26.8165 25.7349V9.08165ZM38.2496 10.8132C37.508 10.043 36.2884 10.0996 35.5324 10.8557V10.8557C34.6689 11.7192 34.7578 13.1355 35.5774 14.0408C37.8956 16.6013 39.3064 20.0004 39.3064 23.7349C39.3064 31.7909 32.7909 38.3064 24.7349 38.3064C16.6789 38.3064 10.1633 31.7909 10.1633 23.7349C10.1633 19.9922 11.5804 16.5863 13.8961 14.0123C14.7065 13.1117 14.7897 11.708 13.933 10.8514V10.8514C13.1794 10.0978 11.9639 10.0413 11.2244 10.8088C7.98838 14.1671 6 18.7085 6 23.7349C6 34.0807 14.3891 42.4697 24.7349 42.4697C35.0807 42.4697 43.4697 34.0807 43.4697 23.7349C43.4697 18.7107 41.4831 14.1711 38.2496 10.8132Z"-->
        <!--                stroke="#2B7D2B" stroke-opacity="0.8"/>-->
        <!--            </g>-->
        <!--            <defs>-->
        <!--              <filter id="filter0_d_1708:1912" x="4.5" y="5.5" width="46.4697" height="44.4697"-->
        <!--                      filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">-->
        <!--                <feFlood flood-opacity="0" result="BackgroundImageFix"/>-->
        <!--                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"-->
        <!--                               result="hardAlpha"/>-->
        <!--                <feOffset dx="3" dy="3"/>-->
        <!--                <feGaussianBlur stdDeviation="2"/>-->
        <!--                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/>-->
        <!--                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1708:1912"/>-->
        <!--                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1708:1912" result="shape"/>-->
        <!--              </filter>-->
        <!--            </defs>-->
        <!--          </svg>-->
        <!--          <img draggable="false" *ngIf="isSafari" class="shadow" src="./img/bioUniversal/powerOn.png">-->
        <!--        </mat-icon>-->
      </button>
    </div>
    <div class="top-info">
      <div class="small-card-info">
        <div class="header-small-card">Мощность</div>
        <div
          [id]="deviceName + 'pow'"
          [ngStyle]="{'color': '#' + power(currentPow)}"
          class="value-small-card">{{currentPow}}
          <div class="units">%</div>
        </div>
      </div>
      <div class="small-card-info">
        <div class="header-small-card">ТТГ</div>
        <div
          [id]="deviceName + 'ttg'"
          [ngStyle]="{'color': '#' + colorPicker(currentTtg)}"
          class="value-small-card">{{currentTtg}}
          <div class="units">°C</div>
        </div>
      </div>
      <div class="small-card-info">
        <div class="header-small-card">Использ.</div>
        <div
          style="color: #303030"
          class="value-small-card">{{currentUse}}
          <div class="units">кг</div>
        </div>
      </div>
    </div>
    <form class="bott-info">
      <div class="change-temp-card">
        <svg class="editorial"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 20 150 73"
             preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave"
                  d="M-160 44c30 0
                        58-18 88-18s
                        58 18 88 18
                        58-18 88-18
                        58 18 88 18
                        v44h-352z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="10" fill="#4579e2" stroke="white" stroke-opacity="0.7"/>
            <use xlink:href="#gentle-wave" x="50" y="1" fill="#3461c1" opacity="0.7" stroke="white"
                 stroke-opacity="0.7"/>
            <use xlink:href="#gentle-wave" x="50" y="3" fill="#2d55aa" opacity="0.5" stroke="white"
                 stroke-opacity="0.7"/>
          </g>
        </svg>
        <div class="container_temp">
          <div class="header-bot-card">ЦО</div>
          <section class="value-card">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              <svg *ngIf="!isSafari" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16 13.5278V3.99998C16 1.79086 14.2091 0 12 0C9.79087 0 8.00002 1.79086 8.00002 3.99998V13.5278C6.7725 14.6264 6 16.223 6 18C6 21.3137 8.68631 24 12 24C15.3137 24 18 21.3137 18 18C18 16.223 17.2275 14.6264 16 13.5278ZM12 22C9.79087 22 8.00002 20.2091 8.00002 18C8.00002 16.8451 8.48944 15.7738 9.33384 15.018L10 14.4218V3.99998C10 2.89542 10.8955 1.99997 12 1.99997C13.1046 1.99997 14.0001 2.89538 14.0001 3.99998V14.4218L14.6663 15.018C15.5107 15.7738 16.0001 16.8451 16.0001 18C16 20.2091 14.2091 22 12 22Z"
                  fill="#323232"/>
                <path d="M13 8H11V20H13V8Z" fill="#323232"/>
                <path
                  d="M12 21C13.6569 21 15 19.6569 15 18C15 16.3431 13.6569 15 12 15C10.3431 15 9 16.3431 9 18C9 19.6569 10.3431 21 12 21Z"
                  fill="#323232"/>
              </svg>
              <img draggable="false" *ngIf="isSafari" src="./img/thermometer.png">
            </mat-icon>
            <section style="width: 100%; display: flex; justify-content: flex-end; align-items: center">
              <div [id]="deviceName + 'co'"
                   [ngStyle]="{'color': '#' + colorPicker(currentCo)}"
                   class="data-temperature">{{currentCo}}
                <div class="units">°C</div>
              </div>
              <button
                (click)="reduceCo()"
                mat-icon-button>
                <i class="material-icons-round">arrow_back_ios</i>
              </button>
              <input
                type="tel"
                maxlength="2"
                max="90"
                min="40"
                minlength="2"
                onclick="this.select()"
                [formControl]="inputControlCo"
                [ngClass]="{'input-error': inputControlCo.invalid}"
                [(ngModel)]="changeCo"
                class="input-temperature"
                matInput>
              <button
                (click)="growCo()"
                mat-icon-button>
                <i class="material-icons-round">arrow_forward_ios</i>
              </button>
            </section>
          </section>
        </div>

      </div>
      <div class="change-temp-card">
        <svg class="editorial"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 20 150 73"
             preserveAspectRatio="none">
          <defs>
            <path id="gentle-wave"
                  d="M-160 44c30 0
                        58-18 88-18s
                        58 18 88 18
                        58-18 88-18
                        58 18 88 18
                        v44h-352z"/>
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" stroke="white" stroke-opacity="0.7"/>
            <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1" opacity="0.7" stroke="white"
                 stroke-opacity="0.7"/>
            <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa" opacity="0.5" stroke="white"
                 stroke-opacity="0.7"/>
          </g>
        </svg>
        <div class="container_temp">
          <div class="header-bot-card">ГВС</div>
          <section class="value-card">
            <mat-icon>
              <svg *ngIf="!isSafari" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16 13.5278V3.99998C16 1.79086 14.2091 0 12 0C9.79087 0 8.00002 1.79086 8.00002 3.99998V13.5278C6.7725 14.6264 6 16.223 6 18C6 21.3137 8.68631 24 12 24C15.3137 24 18 21.3137 18 18C18 16.223 17.2275 14.6264 16 13.5278ZM12 22C9.79087 22 8.00002 20.2091 8.00002 18C8.00002 16.8451 8.48944 15.7738 9.33384 15.018L10 14.4218V3.99998C10 2.89542 10.8955 1.99997 12 1.99997C13.1046 1.99997 14.0001 2.89538 14.0001 3.99998V14.4218L14.6663 15.018C15.5107 15.7738 16.0001 16.8451 16.0001 18C16 20.2091 14.2091 22 12 22Z"
                  fill="#323232"/>
                <path d="M13 8H11V20H13V8Z" fill="#323232"/>
                <path
                  d="M12 21C13.6569 21 15 19.6569 15 18C15 16.3431 13.6569 15 12 15C10.3431 15 9 16.3431 9 18C9 19.6569 10.3431 21 12 21Z"
                  fill="#323232"/>
              </svg>
              <img draggable="false" *ngIf="isSafari" src="./img/thermometer.png">
            </mat-icon>
            <section style="width: 100%; display: flex; justify-content: flex-end; align-items: center">
              <div [id]="deviceName + 'gvs'"
                   [ngStyle]="{'color': '#' + colorPicker(currentGvs)}"
                   class="data-temperature">{{currentGvs}}
                <div class="units">°C</div>
              </div>
              <button
                (click)="reduceGvs()"
                mat-icon-button>
                <i class="material-icons-round">arrow_back_ios</i>
              </button>
              <input
                type="tel"
                maxlength="2"
                max="90"
                min="40"
                minlength="2"
                onclick="this.select()"
                [formControl]="inputControlGvs"
                [ngClass]="{'input-error': inputControlGvs.invalid}"
                [(ngModel)]="changeGvs"
                class="input-temperature"
                matInput>
              <button
                (click)="growGvs()"
                mat-icon-button>
                <i class="material-icons-round">arrow_forward_ios</i>
              </button>
            </section>
          </section>
        </div>

      </div>
      <div class="big-card-info">
        <div class="header-bot-card">Состояние</div>
        <section class="value-card" *ngIf="actualState === 0">
          <i class="material-icons-outlined">watch_later</i>
          <div class="data">ОЖИДАНИЕ</div>
        </section>
        <section class="value-card" *ngIf="actualState === 1">
          <i class="material-icons">local_fire_department</i>
          <div class="data">РОЗЖИГ</div>
        </section>
        <section class="value-card" *ngIf="actualState === 2">
          <i class="material-icons-outlined">autorenew</i>
          <div class="data">РАБОТА</div>
        </section>
        <section class="value-card" *ngIf="actualState === 3">
          <i class="material-icons-outlined">engineering</i>
          <div class="data">ПОДДЕРЖКА</div>
        </section>
        <section class="value-card" *ngIf="actualState === 4">
          <i class="material-icons-outlined">whatshot</i>
          <div class="data">ГАШЕНИЕ</div>
        </section>
      </div>
      <div class="big-card-info">
        <div class="header-bot-card">Режим</div>
        <section class="value-card" *ngIf="workPriority === 0">
          <i class="material-icons-round">settings_input_component</i>
          <div class="data">ПАРАЛЛЕЛЬНЫЕ<br> НАСОСЫ</div>
        </section>
        <section class="value-card" *ngIf="workPriority === 1">
          <i class="material-icons-round">chalet</i>
          <div class="data">ОТОПЛЕНИЕ<br> ДОМА</div>
        </section>
        <section class="value-card" *ngIf="workPriority === 2">
          <i class="material-icons-round">beach_access</i>
          <div class="data">ЛЕТНИЙ<br> РЕЖИМ</div>
        </section>
      </div>
      <div class="big-card-info">
        <div class="header-bot-card">Доступ</div>
        <section class="value-card" *ngIf="device.permission === 'WRITE'">
          <mat-icon aria-hidden="false" aria-label="Example home icon">speaker_phone</mat-icon>
          <div class="data">УПРАВЛЕНИЕ</div>
        </section>
        <section class="value-card" *ngIf="device.permission === 'READ'">
          <i class="material-icons-outlined">fact_check</i>
          <div class="data">ПРОСМОТР</div>
        </section>

      </div>
    </form>
  </div>
</mat-expansion-panel>
