.device {
  width: 96%;
  height: 70px;
  background: linear-gradient(118.75deg, rgba(255, 255, 255, 0.55) 9.52%, rgba(255, 255, 255, 0.7) 86.15%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  margin: 4% 2% 0% 2%;
  border-radius: 35px 15px 15px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.arrow_down{
  position: absolute;
  right: 1%;
  top: 40%;
}
.deviceLogo {
  position: absolute;
  left: 0px;
}

.deviceName {
  text-align: center;
  font-family: Probert;
  font-size: 18px;
  justify-content: center;
  display: flex;
  margin-left: 16%;

}

